@media screen and (max-width:768px) {

    main{

        .main-content{
            
            #carouselExampleInterval{
                width: 320px;
            }
        
        }

        .m-content{
            margin-top: 0px;
        }
    }

    .highlight {
        margin: 20px;
        article{
            width: 310px;
            height: 180px;
        }
        
    }

    /*RESPONSIVE PLANS*/
    
    #plans{
        margin: 10px;
        text-align: center;

        .btn-primary{
            margin-bottom: 35px;
        }

        .plans{
            display: flex;
            gap: 15px;
            justify-content: center;
            margin: 0.5rem;
            padding-bottom: 20%;

            #card-plan{
                display: none;
            }
        }

    }


    #packaging{
    
        .packaging-list{
            gap: 60px 30px;
    
            .packaging-card{
                width: 330px;
                height: 240px;

                h3{
                    font-size: 1.2rem;
                }
            }
        }
    
    
    }



    /*RESPONSIVE GALLERY*/

#gallery {

    .gallery {
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(2, 300px); 
    }
}


/*NEW IN*/

#new-in{

    .cards-new-in{
        display: flex;
        justify-content: space-between;
        gap: 20px;

        .card-new{
            width: 500px;
            height: 160px;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            p{
                font-size: 1.2rem;
            }

        }
    }
}


}