
/*MAIN*/


main{

    .main-content{
        @include flex;
        @include align-center;
        flex-wrap: wrap;
        padding: 40px;
        gap: 8%;

        #carouselExampleInterval{
            width: 650px;
        }
    
        .w-100{
            border-radius: 5px;
        }


        .m-content{
            .last-item{
                margin-bottom: 1.5rem;
            }
        }

    }

   

}